/* Colors */
@define-color background #2E3440;
@define-color foreground #E5E9F0;
@define-color cursor #E5E9F0
@define-color color0 #2E3440;
@define-color color1 #88C0D0;
@define-color color2 #BF616A;
@define-color color3 #5E81AC;
@define-color color4 #EBCB8B;
@define-color color5 #A3BE8C;
@define-color color6 #D08770;
@define-color color7 #E5E9F0;
@define-color color8 #4C566A;
@define-color color9 #88C0D0;
@define-color color10 #BF616A;
@define-color color11 #5E81AC;
@define-color color12 #EBCB8B;
@define-color color13 #A3BE8C;
@define-color color14 #D08770;
@define-color color15 #8FBCBB;

* {
  font-family: "Berkeley Nerd Font";
  font-size: 12px;
}

/* Control Center */
.control-center,
.inline-reply-entry,
.inline-reply-button,
.widget-title,
.widget-title > button,
.widget-title > label,
.widget-buttons-grid,
.widget-buttons-grid > flowbox > flowboxchild > button,
.widget-slider,
.widget-volume,
.widget-backlight,
.widget-mpris,
.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art,
.close-button,
.close-button:hover {
  font-size: 1rem;
  color: @foreground;
  border-radius: 0.75rem;
  box-shadow: none;
  background: @background;
}

/* Control center window */
.control-center {
  background: @background;
  border: 2px solid @color3;
}

/* Control centre label and Clear Button */
.widget-title > label {
  font-size: 1.5rem;
}
.widget-title > button {
  font-weight: 900;
  background: @background;
}
.widget-title > button:hover {
  background: @color2;
}
/* Button grid icons */
.widget-buttons-grid {
  background: @background;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @background;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @color0;
}
.widget-buttons-grid flowboxchild > button.toggle:checked {
  background: @background;
}
/* Volume and Backlight sliders */
.widget-slider,
.widget-volume,
.widget-backlight {
  padding: 0rem;
  margin: 0rem 0.5rem;
  background: @background;
}

/* Different color for text in mpris widge */
.widget-mpris,
.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
  color: @foreground;
  background: @background;
}

/* close button on notifications in control center */
.close-button,
.close-button:hover {
  background: @color2;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  transition: background 0.15s ease-in-out;
}

.inline-reply-entry {
  background: @background;
  caret-color: @foreground;
  border: 1px solid @background;
}
.inline-reply-button {
  background: @background;
  border: 1px @color2;
}
.inline-reply-button:hover {
  background: @color2;
}
.inline-reply-button:disabled {
  color: @background;
  background: @color6;
}

/* For notification outside of control center */
.notification-row .notification-background .notification {
  font-size: 20px;
  background: @background;
  padding: 0.5rem;
  border: 2px solid @foreground;
}

.notification-action:hover,
.notification-default-action:hover {
  background: @background;
}

/* Space around the notification widget */
.notification-background,
.notification-row {
  padding: 0;
  background: transparent;
  outline: none;
  margin: 0;
}

/* Notification background in control-center list */
.control-center .notification-row,
.control-center .notification-row {
  background-color: @background;
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
  background-color: @background;
}

/* Group of notifications from same source */
.notification-group {
  padding: 0.5rem;
  margin: 0rem 0.5rem;
  background: @background;
}
.notification-group:focus {
  background: rgba(76, 86, 106, 1);
}
.notification-group > .notification {
  padding: 0.5rem;
  margin: 0.5rem;
}

/* Fix */

.notification,
.notification-row,
.notification-content,
.notification-group,
.notification-background,
.notification-action,
.notification-default-action,
.floating-notifications,
.notification-row .notification-background .notification,
{
	background: transparent;
	background-color: transparent;

}
