/* Colors */

@define-color bg #2E3440;
@define-color groupbackground #3B4252;
@define-color buttoncolor #434C5E;
@define-color bordercolor #4C566A;
@define-color fontcolor #D8DEE9;

* {
	font-family: "Berkeley Nerd Font";
}

/* Control Center */

.control-center {
	background: @bg;
	color: @fontcolor;
	border: 3px solid @bordercolor;
	padding: 10px;
}

button {
	border: 0px;
	min-width: 35px;
	background: @buttoncolor;
}

.notification-group-header {
	font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
	margin:5px;
}

/* Notification */

.notification {
	border: 3px solid @bordercolor;
	border-radius: 10px;
	padding:10px;
}

.notification-default-action:hover,
.notification-action:hover {
	color: @fontcolor;
	background: transparent;
}
