common/.emacs.d/elpa/
common/.emacs.d/elpaca/
common/.emacs.d/eln-cache/
common/.emacs.d/eshell/history
common/.emacs.d/auto-save-list/
common/.emacs.d/url/
common/.emacs.d/bookmarks
common/.emacs.d/tramp
common/.emacs.d/transient/
common/.emacs.d/var/*
common/.emacs.d/etc/autosave/*
common/.emacs.d/etc/recentf
common/.emacs.d/etc/savehist
common/.emacs.d/etc/saveplace
common/.emacs.d/tree-sitter/*
common/.emacs.d/etc/dict.txt
common/.emacs.d/etc/dictionary.txt

common/.config/nvim/lazyvim.json
common/.config/nvim/lazy-lock.json

common/.config/htop/htoprc
