// vim:ft=css:
* {
  font:                   "Berkeley Nerd Font 13";
  foreground:             #D3C6AA;
  background:             #2B3339;
  highlight:              #A7C080;

  black: #4C5542;
  red: #E67E80;
  green: #A7C080;
  yellow: #DBBC7F;
  blue: #7FBBB3;
  magenta: #D699B6;
  cyan: #83C092;
  white: #D3C6AA;
  orange: #E69875;
  pink: #D699B6;

}

element-icon {
  /*Better to increase the whole element size with dpi*/
  /*size: 22;*/
}

element-text {
  highlight:        @highlight;
}

window {
  border-color:     @foreground;
}

inputbar {
  text-color:       @foreground;
  background-color: @background;
}

prompt {
  text-color:       @foreground;
  background-color: @background;
}

textbox-prompt-colon {
  text-color:       @foreground;
  background-color: @background;
}

message {
  text-color: @foreground;
  background-color: @background;
}

entry {
  text-color:       @foreground;
  background-color: @background;
}

listview {
  background-color: @background;
}

mode-switcher {
  text-color:       @foreground;
  background-color: @background;
}

button {
  text-color:       @foreground;
  background-color: @background;
}

element {
  text-color:       @foreground;
  background-color: @background;
}

element normal.normal {
  background-color: @background;
  text-color:       @foreground;
}

element normal.active {
  background-color: @background;
  text-color:       @foreground;
}

element selected.normal {
  text-color:       @background;
  background-color: @foreground;
}

element selected.active {
  background-color: @foreground;
  text-color:       @background;
}

element alternate.normal {
  background-color: @background;
  text-color:       @foreground;
}

element alternate.active {
  background-color: @background;
  text-color:       @foreground;
}
