// vim:ft=css:
* {
  font:                   "Berkeley Nerd Font Bold 16";
  foreground:             #D8DEE9;
  background:             #2E3440;
  highlight:              #81A1C1;

  black: #3B4252;
  red: #BF616A;
  green: #A3BE8C;
  yellow: #EBCB8B;
  blue: #81A1C1;
  magenta: #B48EAD;
  cyan: #88C0D0;
  white: #E5E9F0;
  orange: #C9826B;
  pink: #BF88BC;
}


window {
  border-color:     @cyan;
  color: @foreground;
  background-color: @background;
}

inputbar {
  text-color:       @foreground;
  background-color: @background;
}

prompt {
  text-color:       @foreground;
  background-color: @background;
}

textbox-prompt-colon {
  text-color:       @foreground;
  background-color: @background;
}

message {
  text-color: @foreground;
  background-color: @background;
}

entry {
  text-color:       @foreground;
  background-color: @background;
}

listview {
  background-color: @background;
}

mode-switcher {
  text-color:       @foreground;
  background-color: @background;
}

button {
  text-color:       @foreground;
  background-color: @background;
}

element {
  text-color:       @foreground;
  background-color: @background;
}

element-icon {
  /*Better to increase the whole element size with dpi*/
  /*size: 22;*/
}

element-text {
  highlight:        @highlight;
}


element normal.normal {
  background-color: @background;
  text-color:       @foreground;
}

element normal.active {
  background-color: @background;
  text-color:       @foreground;
}

element selected.normal {
  text-color:       @background;
  background-color: @foreground;
}

element selected.active {
  background-color: @foreground;
  text-color:       @background;
}

element alternate.normal {
  background-color: @background;
  text-color:       @foreground;
}

element alternate.active {
  background-color: @background;
  text-color:       @foreground;
}
