@import "./colors/nord-dark.css";
* {
  background-color: @background;
  /* color: @foreground; */
  border: none;
  border-radius: 0;
  font-family:
    "Berkeley Nerd Font", "JetBrainsMono Nerd Font", Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  /* color: @foreground; */
  padding: 0px 0px;
  margin: 1px 5px;
  /* border-radius: 20px; */
}

/* Modules */

.modules-left {
  padding: 0px 1px;
}
.modules-center {
  padding: 0px 1px;
  /* box-shadow: inset 0 -3px; */
}
.modules-right {
  padding: 1px 1px;
}

/* Tooltip */
tooltip {
  background-color: @background;
  opacity: 0.8;
  border: none;
  border-radius: 0;
  text-shadow: 2px 2px @background;
  margin-bottom: 1px;
  padding: 1px 1px;
  color: @foreground;
}
tooltip label {
  font-size: 12px;
  color: @foreground;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */
#workspaces {
  color: @bordercolor;
  background-color: @background;
  /* border: 0.1rem solid @bordercolor; */
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  margin: 0.1rem;
}
#workspaces button {
  margin: 0px 0px;
  /* outline: 0; */
  border: 0px solid transparent;
  padding: 0px 8px;
  border-radius: 16px;
  /* text-shadow: 2px 2px rgba(0, 0, 0, 0); */
  /* box-shadow: 2px 2px rgba(0, 0, 0, 0); */
  /* transition: all 0.3s ease-in-out; */
}

#workspaces button.visible,
#workspaces button.active,
#workspaces button.focused {
  /* border: solid 1px @cyan; */
  /* background: @blue; */
  /* margin: 0px 5px; */
  /* border-radius: 14px; */
}

#workspaces button:hover,
#workspaces button:hover label {
  /* color: @foreground; */
  background: rgba(94, 129, 172, 0.5);
  /* border: 1px solid transparent; */
}

#workspaces button.visible label,
#workspaces button.focused label,
#workspaces button.active label {
  /* background: @blue; */
}

#workspaces button.urgent {
  background: rgba(191, 97, 106, 0.5);
  /* border: none; */
}

/* Modules */
#battery,
#backlight#screen,
#backlight#keyboard,
#bluetooth,
#clock,
#cpu,
#cava,
#disk,
#image#album-art,
#memory,
#mpd,
#mpris,
#network,
#network#speed,
#pulseaudio,
#temperature,
#tray,
/* #tray menu, */
#taskbar,
#wireplumber,
#keyboard-state,
#custom-ddcutil,
#custom-power,
#custom-media,
#custom-primary,
#custom-clipboard,
#custom-dunst,
#custom-hyprshade,
#custom-separator,
#custom-bluetooth,
#custom-wifi,
#system,
#custom-group,
#custom-notification,
#custom-kdeconnect,
#temperature,
#kdeconnect,
#power-profiles-daemon,
#idle_inhibitor {
  background: @background;
  padding: 1px 4px;
  margin: 1px 1px;
  /* border-color: @border-color; */
  border: 1px;
  /*border-right: 1px solid #D8DEE9;*/
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical #battery.warning {
  color: @red;
}

/* #network.wifi, */
#network.connected,
#bluetooth.connected {
  color: @green;
}
#bluetooth.off,
#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @red;
}

#tray {
  padding: 0px 5px;
}

#tray menu * {
  min-height: 16px;
}

#tray menu separator {
  min-height: 10px;
}
#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#backlight-slider trough {
  min-height: 20px;
  min-width: 10px;
  border-radius: 5px;
  background-color: @background;
}
#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @background;
}

#custom-kdeconnect {
  padding: 0px 2px;
}
