# Find out wayland app_id with "swaymsg -t get_tree | jq '.' | grep app_id" and xorg class with xprop
assign [app_id="foot"] workspace 1
assign [app_id="Alacritty"] workspace 1
assign [app_id="kitty"] workspace 1
assign [app_id="org.kde.dolphin"] workspace 2
assign [app_id="firefox"] workspace 3
assign [class="Microsoft-edge"] workspace 3
assign [class="Google-chrome"] workspace 3
assign [app_id="LibreWolf"] workspace 3
assign [class="vlc"] workspace 4
assign [app_id="mpv"] workspace 4
assign [app_id="audacious"] workspace 4
assign [app_id="org.telegram.desktop"] workspace 5
assign [app_id="org.kde.kate"] workspace 6
assign [class="Code"] workspace 6
assign [app_id="emacs"] workspace 7
assign [app_id="org.kde.okular"] workspace 8
assign [class="obsidian"] workspace 10


# Focus to opened Applications
for_window [app_id=.*] focus

# Inhibit Idle if a window is fullscreen
# for_window [class="^.*"] inhibit_idle fullscreen
# for_window [app_id="^.*"] inhibit_idle fullscreen

# Floating
for_window [window_role = "pop-up"] floating enable
for_window [window_role = "bubble"] floating enable
for_window [window_role = "dialog"] floating enable
for_window [window_type = "dialog"] floating enable
for_window [window_role = "task_dialog"] floating enable
for_window [window_type = "menu"] floating enable
for_window [app_id = "floating"] floating enable
for_window [title = "^Open File$"] floating enable
for_window [title="File Operation Progress"] floating enable, border pixel 1, sticky enable, resize set width 40 ppt height 30 ppt
for_window [title="Save File"] floating enable
for_window [class="(?i)(?:lxappearance)"] floating enable
for_window [title = "Picture in picture"] floating enable, sticky enable
for_window [app_id="org.kde.okular"] floating enable

# Applications
#for_window [app_id="mpv"] floating enable
#for_window [app_id="org.kde.dolphin"] floating enable
#for_window [app_id="firefox"] floating enable
#for_window [app_id="Librewolf"] floating enable
#for_window [class="Microsoft-edge"] floating enable
#for_window [class="Google-chrome"] floating enable
#for_window [class="Code"] floating enable
#for_window [class="vlc"] floating enable
for_window [title = "About Mozilla Firefox"] floating enable
for_window [window_role = "About"] floating enable
for_window [app_id = "flameshot"] floating enable
for_window [title = "Firefox - Choose User Profile" ] floating enable
for_window [app_id = "pavucontrol"] floating enable
for_window [title="nmtui"] floating enable
for_window [app_id = "qt5ct"] floating enable
for_window [app_id="(?i)(?:blueman-manager|azote|gnome-disks|nwg-shell-config)"] floating enable
for_window [app_id="(?i)(?:pavucontrol|nm-connection-editor|gsimplecal|galculator)"] floating enable
for_window [app_id="nm-connection-editor" ] floating enable, resize set width 40 ppt height 30 ppt
for_window [app_id="nmtui"] floating enable
for_window [title="Save File"] floating enable
for_window [app_id="org.nomacs.ImageLounge"] floating enable
for_window [app_id="megasync"] floating enable

for_window [app_id="firefox"] inhibit_idle focus
for_window [app_id="firefox"] inhibit_idle open
for_window [app_id="firefox"] inhibit_idle visible

for_window [app_id="wofi"] border none
