@import "~/.config/rofi/themes/nord.rasi"

configuration {
	modi:                       "drun,run,filebrowser,ssh";
	show-icons:                 true;
	display-drun:               "Apps";
	display-run:                "Run";
	display-filebrowser:        "Files";
	display-ssh:                "SSH";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}

/* ---- Window ---- */
window {
	height: 28%;
	width:                        15%;
	transparency: "real";
	x-offset:                     0px;
	y-offset:                     0px;
	spacing:                      0px;
	padding:                      15px;
	margin:                       0px;
	border:                       0px;
	cursor:                       "default";
	location:                     center;
	anchor:                       center;
	fullscreen:                   false;
	enabled:                      true;
	border-radius:                12px;
	orientation: vertical;
	children: [ mainbox ];
}

/* ---- Mainbox ---- */
mainbox {
	// enabled:                      true;
	// orientation:                  horizontal;
	padding: 0px 0px;
	spacing:                      0px;
	border: 0px;
	// margin:                       0px;
	// background-color:             @background;
	  children:                     ["inputbar", "listbox"];
}

inputbar {
	spacing:                      0px;
	padding:                      10px;
	border-radius:                0px;
	border: 0px;
	children:                     [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
	expand:                       false;
	border: 0px;
	padding:                      0px 0px;
	str:                          " ";
}

entry {
	// background-color:             transparent;
	padding: 0px 8px;
	border-radius: 12px;
	margin-bottom: 2px;
	placeholder:                  "Search ...";
//	placeholder-color:            inherit;
}

/* ---- Listbox ---- */
listbox {
	spacing:                     0px;
	padding: 0px 0px;
	// background-color:            transparent;
	orientation:                 vertical;
	children:                    [ "listview" ];
}


/* ---- Listview ---- */
listview {
	lines:                        12;
	scrollbar:                    false;
	reverse:                      false;
	spacing:                      5px;
	padding:                      0px 15px;
	margin:                       0px;
	border:0px;
	border-radius: 0px;
}

element {
	padding:                      10px;
	border: 0px;
	border-radius:                12px;
}


element-icon {
	background-color:            transparent;
	size:                        12px;
}

element-text {
	background-color:            transparent;
	text-color:                  inherit;
	vertical-align:              0.5;
}
